{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "extends": ["airbnb-typescript/base"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "rules": {
    "semi": [1, "never"],
    "no-plusplus": 0
  }
}
